<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Usu·rios <small></small>
		</h1>
		
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-dashboard"></i> 
				<a href="/dashboard">Dashboard</a>
			</li>
			<li class="active">
				<i class="fa fa-users"></i> 
				Usu·rios
			</li>
		</ol>
		
		<a href="/user">Novo Usu·rio</a>
	</div>
</div>

<br />

<table class="table">
	<tr>
		<th>#</th>
		<th>Nome</th>
		<th>Matr√≠cula</th>
		<th>E-mail</th>
		<th>A√ß√µes</th>
	</tr>

	<tr ng-repeat="user in users">
		<td>{{user.id}}</td>
		<td>{{user.name}}</td>
		<td>{{user.registration}}</td>
		<td>{{user.email}}</td>
		<td></td>
	</tr>
</table>