<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			<i class="fa fa-user"></i> Novo Usuário
		</h1>
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-dashboard"></i> 
				<a href="/dashboard">Dashboard</a>
			</li>
			<li>
				<i class="fa fa-users"></i> 
				<a href="/users">Usuários</a>
			</li>
			<li class="active">
				<i class="fa fa-user"></i>Novo Usuário
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		 <div class="alert alert-success" ng-show="success">
              Usuário cadastrado com sucesso.
         </div>
	
		 <form role="form">
			<div class="row">
				<div class="col-sm-3 form-group">
					<label>Matrícula</label> 
					<input class="form-control" ng-model="user.registration" autofocus>
				</div>

				<div class="col-sm-6 form-group">
					<label>Nome</label> 
					<input class="form-control" ng-model="user.name">
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-9">
					<label>E-mail</label>
					<div class="input-group"> 
						<span class="input-group-addon">@</span> 
						<input type="text" class="form-control" ng-model="user.email">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group  col-sm-3">
					<label for="senha">Senha</label> 
					<input type="password" class="form-control" ng-model="user.password" id="senha" />
				</div>
				
				<div class="form-group  col-sm-3">
					<label for="confirmacaoSenha">Confirmação de senha</label> 
					<input type="password" class="form-control" id="confirmacaoSenha" />
				</div>
			</div>

			<div class="form-group">
				<label>Foto</label> 
				<input type="file">
			</div>
			
			<br />
			
			<button type="submit" class="btn btn-primary" ng-click="saveUser();">Salvar</button>
			<button type="submit" class="btn btn-warning" ng-click="clean();">Cancelar</button>
			
			<br />
			<br />
		</form>
	</div>
</div>